:root {
    --normal-border-radius: 0.8rem;
    --small-border-radius: 0.4rem;
}


*,
*::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    list-style: none;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.6;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #333;
}

/* * button */

.btn {
    display: inline-block;
    outline: none;
    border: none;
    cursor: pointer;
}

/* /////////////// */
.main {
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, rgb(13, 181, 248) 0%, rgb(237, 44, 82) 100%);
}



.header {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
    backdrop-filter: blur(10px);
    background-color: hsla(0, 0%, 100%, 0.5);
    box-shadow: 0.5rem 0.5rem 4rem rgba(0, 0, 0, 0.205);

}

.header__title-cont {
    display: inline-block;
    background-color: rgba(11, 115, 133, 0.486);
    padding: 1.2rem 2.4rem;
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;

}

.sub-head {
    font-family: 'Segoe Print', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    font-style: italic;
    display: inline-block;
    text-shadow: 0px 1px 1px #333, 0px 2px 3px #444;
    transform: rotateX(3deg) rotateY(-10deg) rotateZ(-10deg);
    color: #fff;


}

/* ! Main app section */
.app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app {
    color: #fff;
    background-color: #464442;
    /* padding: 1.2rem 2.4rem; */
    border-radius: var(--normal-border-radius);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 30rem;
}

.app-todo__list {
    position: relative;
    margin: 1.2rem 2.4rem;
}

.app-todo__scroll {
    max-height: 60vh;
    overflow-y: auto;
}

.app-todo__list-head {
    /* background-color: #fab005; */
    background-color: #868e96;
    color: #fff;
    padding: 1.6rem 3.2rem;
    width: 100%;
    border-radius: var(--normal-border-radius);
    text-align: center;

}

.app-todo__list-ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: 50vh;
    max-width: 32rem;
}



.app-todo__list-li {
    padding: 0.8rem;
    background-color: #20c997;
    border-radius: var(--normal-border-radius);
    border-left: 6px solid transparent;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 0.8rem;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;

}

.app-todo__list-li:hover .app-todo__list-delete {
    transform: scale(1);
}


.app-todo__list-top {
    padding: 0.5rem 1rem;
    min-width: 10rem;
    border-radius: var(--small-border-radius);
    display: flex;
    justify-content: space-around;
    align-items: left;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: #f59f00;
    color: #000;
    text-transform: capitalize;
}



.app-todo__list-delete {
    width: fit-content;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: hsla(0, 0%, 78%, 0.589);
    border-radius: inherit;
    transform: scale(0);
    transition: all 0.5s;
    padding: 0 0.8rem;
    backdrop-filter: blur(3px);
    cursor: pointer;

}


.app-todo__list-delete-icon {
    height: 2rem;
    fill: rgb(250, 89, 30);
    transition: all 0.3s;
    transform: scale(1);

}

.btn-delete {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: 0.5s;
}

.btn-delete:hover {
    transform: scale(1.3);
}



/* * bottom buttons */
.btn-cont {
    position: fixed;
    bottom: 0rem;
    right: 1rem;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* * button more/ 3 dot button */

.btn-more-cont {
    position: relative;
}

.btn-more {
    /* font-size: 5rem; */
    height: 4rem;
    width: 1rem;
    padding: 1.2rem 0;
    border-radius: 100rem;
    position: relative;
    background-color: transparent;
}

.btn-more::before,
.btn-more::after,
.btn-more span {
    content: '';
    position: absolute;
    left: 50%;
    height: 5px;
    width: 5px;
    background-color: black;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.btn-more::before {
    top: 8px;
}

.btn-more::after {
    bottom: 3px;
}

.btn-clear-all {
    position: absolute;
    top: -4rem;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 2rem;
    width: 100%;
    background-color: transparent;
    cursor: pointer;
}

.btn-clear-all__icon {
    height: 2rem;
    width: 2rem;
    fill: red;
}

/* * new task adding button */

.btn-add {
    font-size: 1.4rem;
    padding: 0.8rem 1.6rem;
    border-radius: inherit;
    position: relative;
    background-color: transparent;
    color: #000;
    z-index: 1;
    font-weight: 600;
    border-radius: var(--small-border-radius);

    transition: all 0.3s;
}

.btn-add::before,
.btn-add::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    z-index: -1;
    transition: all 0.3s;

}

.btn-add::before {
    transform: scale(0.95) skewY(10deg);
    background-color: #65dcec;
    z-index: -2;

}


.btn-add::after {
    transform: scale(1) skewY(-7deg);
    background-color: #20c997;
    z-index: -1;

}


.btn-add:hover::before {
    transform: scale(1) skewY(-7deg);
    z-index: -1;

}

.btn-add:hover::after {
    transform: scale(0.95) skewY(10deg);
    z-index: -2;

}

/* ! Input new task */
/* #NOTE  this menu shows while adding a new task*/
.form-main {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 80vh;
    width: 100%;
    background-color: #e9e6e67a;
    color: #17555e;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    /* animation: fadeIn; */
    /* animation-duration: 0.6s; */
    transition: 0.5s;

    /* ! For Animation */

}

.form-cont {
    position: relative;
}

.form {
    background-color: #c7c7c7;
    padding: 1.2rem 2.4rem;
    border-radius: var(--small-border-radius);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-field {
    font-size: inherit;
    font-family: inherit;
    padding: 0.4rem 0.8rem;
    border-radius: var(--small-border-radius);
}

.input-label {
    display: block;
}

.form-cancel {
    position: absolute;
    top: 0;
    right: 1rem;
}

.btn-cancel {
    color: #000;
    font-size: inherit;
    background-color: transparent;
    border-bottom: 2px solid currentColor;
}

/* ! Animation */
@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
        cursor: auto;
        user-select: auto;
    }

    to {
        opacity: 0;
        transform: translateY(150%);
        visibility: hidden;
        cursor: none;
        user-select: none;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(150%);
        visibility: hidden;
        cursor: none;
        user-select: none;
    }

    to {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
        cursor: auto;
        user-select: auto;
    }
}

/* ! custom style classes */
.styled-line {
    --border-color: #66d9e8;
    padding: 0.2rem;
    border-radius: 1rem;
    border-right: 3px solid var(--border-color);

}

/* ! scrollbar customization */
::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 2px;

}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 2px;
}

/* * Garbage Classes */

.hidden {
    display: none;
}

.fade-down {
    transform: translateY(200%);
    opacity: 0;
    visibility: hidden;
    transition: opacity, transform 0.4s, visibility 0.6s;
}

.align-center {
    text-align: center;
}

.margin-bottom-large {
    margin-bottom: 5.6rem !important;
}

.margin-bottom-small {
    margin-bottom: 1.2rem !important;
}

.margin-top-small {
    margin-top: 1.2rem;
}

.margin-right-little {
    margin-right: 0.5rem !important;
}